<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Configuration Action Set"
            visible="true"
            id="eclipse.plugin.gpuv.actionSet">
         <menu
               label="GPUVerify &amp;Menu"
               id="gpuvMenu">
            <separator
                  name="gpuvGroup">
            </separator>
         </menu>
         <action
               class="eclipse.plugin.gpuv.actions.ConfigAction"
               icon="icons/sample.gif"
               id="eclipse.plugin.gpuv.actions.SampleAction"
               label="&amp;Open Configuration"
               menubarPath="gpuvMenu/gpuvGroup"
               toolbarPath="gpuvGroup"
               tooltip="Configure GPUVerify options">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="eclipse.plugin.gpuv"
            class="eclipse.plugin.gpuv.views.MainViewDisplayResults"
            id="eclipse.plugin.gpuv.gpuview"
            name="GPUVerify View"
            restorable="true">
      </view>
      <category
            id="eclipse.plugin.gpuv"
            name="GPUVerify">
      </category>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="eclipse.plugin.gpuv.category.wizards"
            name="GPUVerify Custom Project">
      </category>
      <wizard
            category="eclipse.plugin.gpuv.category.wizards"
            class="eclipse.plugin.gpuv.wizards.NewProjectWizard"
            finalPerspective="eclipse.plugin.gpuv.perspective"
            icon="icons/sample.gif"
            id="eclipse.plugin.gpuv.wizard.newProjectWizard"
            name="GPUVerify Project">
      </wizard>
      <wizard
            category="eclipse.plugin.gpuv.category.wizards"
            class="eclipse.plugin.gpuv.wizards.NewFileWizard"
            icon="icons/sample.gif"
            id="eclipse.plugin.gpuv.wizards.NewFileWizard"
            name="New OpenCL File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eclipse.plugin.gpuv.perspectives.GPUVerifyPerspective"
            fixed="true"
            icon="icons/sample.gif"
            id="eclipse.plugin.gpuv.perspective"
            name="GPUVerify Perspective">
      </perspective>
   </extension>
   <extension
         id="eclipse.plugin.gpuv.natures"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="eclipse.plugin.gpuv.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="eclipse.plugin.gpuv.perspective">
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               ratio="0.8"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               ratio="0.2"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eclipse.plugin.gpuv.contentassist.OpenCLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="cl"
            icon="icons/sample.gif"
            id="eclipse.plugin.gpuv.contentassist.OpenCLEditor"
            name="OpenCL Editor">
      </editor>
   </extension>

</plugin>
