<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="GPUVerifyPlugin.category.wizards"
            name="GPUVerify Wizards">
      </category>
      <wizard
            category="GPUVerifyPlugin.category.wizards"
            class="gpuverifyplugin.wizards.GPUVerifyProjectWizard"
            finalPerspective="GPUVerifyPlugin.perspective"
            icon="icons/icon.png"
            id="GPUVerifyPlugin.wizard.new.project"
            name="GPUVerify Project">
      </wizard>
      <wizard
            category="GPUVerifyPlugin.category.wizards"
            class="gpuverifyplugin.wizards.GPUVerifyNewFileWizard"
            icon="icons/icon.png"
            id="GPUVerifyPlugin.wizard.new.file"
            name="OpenCL File for GPUVerify">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="gpuverifyplugin.perspectives.Perspective"
            icon="icons/icon.png"
            id="GPUVerifyPlugin.perspective"
            name="GPUVerify">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="GPUVerifyPlugin.perspective">
         <view
               id="GPUVerifyPlugin.navigator"
               minimized="false"
               ratio="0.15"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="GPUVerifyPlugin.perspective">
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               ratio="0.8"
               relationship="bottom"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/icon.png"
            id="GPUVerifyPlugin.navigator"
            name="GPUVerify Navigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="GPUVerifyPlugin.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="GPUVerifyPlugin.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         id="GPUVerifyPlugin.Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="gpuverifyplugin.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/icon.png"
            id="GPUVerifyPlugin.image"
            natureId="GPUVerifyPlugin.Nature">
      </image>
   </extension>

</plugin>
